 <!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <script type="text/javascript" src="{{ url_for('static',filename='js/progressbar.min.js') }}"></script>

  <!-- <script type="text/javascript" src="{{ url_for('static',filename='js/app.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script> -->

  <title>Khoj-COVID</title>

  <script type="text/javascript">

  function showResult(){
    var predictionVal = {{label}}
    var predictionHTML = document.getElementById("prediction.span");
    // predictionHTML.style = predictionVal >= 50 ? "color:red;" :  "color:green;";
    // var pred_str_pos = "COVID Positive<br>Probability of infection: "+predictionVal+"%";
    // var pred_str_neg = "COVID Negative<br>Probability of infection: "+predictionVal+"%";

    if (predictionVal <= 30){
      var chanceCovid = "LOW";
      var chanceColor = "green";
    }else if (predictionVal > 30 && predictionVal <= 70) {
      var chanceCovid = "MEDIUM";
      var chanceColor = "#f58f0a";
    }else if (predictionVal > 70) {
      var chanceCovid = "HIGH";
      var chanceColor = "red";
    };

    predictionHTML.style = "color:"+chanceColor+";";
    predictionHTML.innerHTML = "Risk of COVID-19: "+chanceCovid+"<br>Probability of infection: "+predictionVal+"%";


  }

  window.onload = function(){
    if({{label}}){
  var bar = new ProgressBar.Line("#progress", {
        strokeWidth: 4,
        easing: 'easeInOut',
        duration: 2500,
        color: '#39D2B4',
        trailColor: '#eee',
        trailWidth: 1,
        //svgStyle: {width: '100%', height: '100%'},
        text: {
          style: {
            // Text color.
            // Default: same as stroke color (options.color)
            color: '#999',
            right: '0',
            //top: '30px',
            padding: 0,
            margin: 0,
            transform: null
          },
          autoStyleContainer: false
        },
        from: {color: '#FFEA82'},
        to: {color: '#ED6A5A'},
        step: (state, bar) => {
          let percent = Math.round(bar.value() * 100);
          bar.setText('Analyzing... '+percent+'%');
          if(percent == 100){ //show the result
            bar.setText('DONE!');
            showResult();
          }
        }
      });

      bar.animate(1);
    }
    }
      </script>





</head>



<body   style="margin:10px;padding:10px;">

  <h1>Khoj-COVID</h1>
  <h3>Using advance AI for COVID19 detection on Lung CT scans</h3>
  <p>Upload a Lung CT slice image </p>

    <form action="#" method=post enctype=multipart/form-data >
      <p class="file">
        <!-- <input id="file" type="file" name="file" onchange="readURL(this);"> -->
        <input id="file" type="file" name="file" accept="image/x-png,image/jpeg" onchange="this.form.submit()">
        <label for="file">Upload Image</label>
      </p>

    </form>


    <div class="imgContainer">
        <img height="350" width="350" src="{{imagesource}}">
    </div>

    <div class="pred" id="prediction"> <center><div class="progress" id="progress"></div></center> <br> <span id="prediction.span"></span> </div>


  <p class="txtcenter">This is just for research purposes & a WORK IN PROGRESS...  <br/> Not validated by any health organization. </p>
  <p class="txtcenter copy">by <a href="https://www.linkedin.com/in/surajghuwalewala/" target="_blank">Suraj Ghuwalewala</a> & <a href="http://sagihaider.com/" target="_blank">Dr Haider Raza</a><br /></p>
</body>
