 <!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <!-- <script type="text/javascript" src="{{ url_for('static',filename='js/app.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script> -->

  <title>COVID-19 Detection</title>

  <!-- <script type="text/javascript">
  var predictionVal = {{label}}
  var predOut = " "
  document.getElementById("prediction").innerHTML =
      function changePredictionOutput(predictionVal) {
        if (predictionVal >= 50) {
          document.getElementById("prediction").innerHTML = "COVID Positive";
        }
        else{
          document.getElementById("prediction").innerHTML = "COVID Negative";

        }

        return false;
      };
    </script> -->


</head>

<body   style="margin:10px;padding:10px">

  <div class="bg-image"></div>

  <h1>DeepCOVID</h1>
  <h2>Detect COVID-19 on CT slices</h2>
  <p>Upload a CT slice image for probability of infection </p>

    <form action="#" method=post enctype=multipart/form-data onsubmit="changePredictionOutput()">
      <p class="file">
        <!-- <input id="file" type="file" name="file" onchange="readURL(this);"> -->
        <input id="file" type="file" name="file" onchange="this.form.submit()">
        <label for="file">Upload Image</label>
      </p>

    </form>


    <div class="imgContainer">
        <img width="350" height="350" src="{{imagesource}}">
    </div>
    <div class="pred" id="prediction">{{label}} </div>


  <p class="txtcenter">This is just for research purposes <br/> Not validated by any health organization. </p>
  <p class="txtcenter copy">by <a href="https://www.linkedin.com/in/surajghuwalewala/">Suraj Ghuwalewala</a><br /></p>


</body>
